:root {
  --background-img: url("../img/coast_stars.jpg");
}

body,
html {
  height: 100%;
}

.background {
  margin: 0;
  padding: 0;
  z-index: 1;
  transition: transform 0.3s ease-out;
}

.apps {
  transition: opacity 0.3s ease;
}

.apps.show-apps {
  opacity: 1;
}

.background .background-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--background-img);
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.background-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../img/background-blur.png");
  background-size: 100% 100%;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen {
  z-index: 4;
  background-color: #333;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  animation: hideSplashScreen 0.35s ease-in-out forwards;
  animation-delay: 0.3s;
}
