*,
:after,
:before {
  box-sizing: inherit;
}

div {
  display: block;
}

body {
  margin: 0;
  text-shadow: 0 1px 5px rgb(0 0 0 /10%);
}

.has-3-col {
  display: flex;
}

.apps {
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.full {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.top-row {
  height: 50px;
  display: flex;
  align-items: flex-start;
  flex: 0 0 auto;
}

.center-above,
.center-below {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.center-container .side-col {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50px;
  display: inline-block;
  align-items: center;
}

.center-container .center-col.default-clock {
  cursor: default;
  font-size: 850%;
  letter-spacing: -5px;
  text-align: center;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #fff;
}

.greeting {
  font-size: 3rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

.has-3-col .side-col {
  flex: 1 0 50px;
  display: inline-flex;
  align-items: center;
}

.has-3-col .center-col {
  color: white;
  font-size: 3rem;
}

.focus-wrapper {
  display: flex;
  justify-content: center;
}

.prompt {
  padding-bottom: 0.5em;
  max-width: 100%;
}

.focus-question {
  color: white;
  font-size: 2.1875em;
  font-weight: 400;
  margin: 0;
  line-height: normal;
}

.prompt .hidden-data {
  display: block;
  height: 0;
  padding: 0;
  visibility: hidden;
  border: none;
  border-bottom: none;
}

.focus-input {
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 4px;
  display: block;
  background: 0;
  border: 0;
  font-size: 2.25em;
  display: block;
  border-bottom: 2px solid #fff;
  line-height: 1.2;
  font-weight: 500;
  outline: none;
}

.bottom-row {
  height: 60px;
}
