div {
  display: block;
}

body {
  text-shadow: 0 1px 5px rgb(0 0 0 /10%);
}

.apps,
.full {
  z-index: 3;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.full {
  height: 100%;
  display: flex;
}

.top-row {
  height: 50px;
  display: flex;
  align-items: flex-start;
  flex: 0 0 auto;
}

.center-above,
.center-below {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.center-container.resize-wrapper {
  transition: height var(--duration) ease;
}

.center-container .side-col {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50px;
  display: inline-block;
  align-items: center;
}

.center-container .center-col.default-clock {
  cursor: default;
  font-size: 850%;
  letter-spacing: -5px;
  text-align: center;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #fff;
}

.bottom-row {
  height: 60px;
}
